@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.Action("Index", "Manage", new {area = ""})">
                    You are logged in as @User.Identity.GetUserName() <i class="glyphicon glyphicon-user"></i></a>
            </li>
            
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off <i class="glyphicon glyphicon-log-out"></i></a></li>
        </ul>
    }
}
else
{
    
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Register", "Account", new {area = ""})">
                Register <i class="glyphicon glyphicon-list-alt"></i>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Login", "Account", new {area = ""})"> Log in
                <i class="glyphicon glyphicon-log-in"></i>
            </a>
        </li>
    </ul>
}
