@model PackageDelivery.Models.OrderModel
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Beginning of the page, title block*@
<h2>Order</h2>
<div>
    <div class="text-danger">
        <h5>@ViewBag.Error</h5>
    </div>
    <div class="text-success">
        <h5>@ViewBag.Success</h5>
    </div>
</div>
@using (Html.BeginForm("Order", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Place an order.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @*First section, Delivery address*@
    <h4>Delivery address:</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.DeliveryAdress.StreetAdress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DeliveryAdress.StreetAdress, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DeliveryAdress.PostCode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DeliveryAdress.PostCode, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DeliveryAdress.Suburb, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DeliveryAdress.Suburb, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DeliveryAdress.State, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DeliveryAdress.State, new {@class = "form-control"})
        </div>
    </div>
    <hr />
    @*Second section, Pickup Address*@
    <h4>Pickup Address:</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.PickupAdress.StreetAdress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PickupAdress.StreetAdress, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PickupAdress.PostCode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PickupAdress.PostCode, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PickupAdress.Suburb, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PickupAdress.Suburb, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PickupAdress.State, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PickupAdress.State, new { @class = "form-control"})
        </div>
    </div>
    <hr/>
    @*Last section, Package info, edits going in here(sam)*@
    <h4>Package info:</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.PackageInfo.Weight, new { @class = "col-md-2 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.PackageInfo.Weight, new {@class = "form-control", @placeholder = "kg"})
        </div>  
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PackageInfo.Length, new { @class = "col-md-2 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.PackageInfo.Length, new { @class = "form-control", @placeholder = "kg" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PackageInfo.Width, new { @class = "col-md-2 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.PackageInfo.Width, new { @class = "form-control", @placeholder = "kg" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PackageInfo.Height, new { @class = "col-md-2 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.PackageInfo.Height, new { @class = "form-control", @placeholder = "kg" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PackageInfo.RecieverName, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PackageInfo.RecieverName, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PackageInfo.Priority, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.PackageInfo.Priority, new {@class = "form-control"})
        </div>
    </div>
       <div class="form-group">
        @Html.LabelFor(m => m.PackageInfo.PaymentType, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.PackageInfo.PaymentType, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.PackageInfo.ReadyForPickupTIme, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="datetime-local" name="PackageInfo.ReadyForPickupTIme" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PackageInfo.sInstructions, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.PackageInfo.sInstructions, new { @class = "form-control", style="height: 100px;"})
        </div>
    </div>
    <hr/>
    <br/>
    <div class="col-md-4">
        <label>Estimated cost: @Model.PackageInfo.Cost</label>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-danger" value="Place order" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
