@using PackageDelivery.Models
@model PackageDelivery.Models.OrderViewModel

<div class="col-md-8"></div>
<div class="col-md-4">
    <div class="text-danger">
        @ViewBag.Error
    </div>
    <div class="text-success">
        @ViewBag.Success
    </div>
</div>
<table class="table table-hover">
    <tr class="dl-horizontal">
        <th>
            Order Id
        </th>
        <th>
            Order Status
        </th>
        <th>
            Ready for pickup time
        </th>
        <th>
            Reciever name
        </th>
        <th></th>
    </tr>


    @foreach (KeyValuePair<Packages, Orders> pair in Model.OrderDictionaryMap)
    {
        var color = "";
        if (pair.Value.OrderId == ViewBag.Id && ViewBag.success != null)
        {
            color = "success";
        }
        else if (pair.Value.OrderId == ViewBag.Id && ViewBag.Error != null)
        {
            color = "danger";
        }
        <tr class="@color">
            <td>@pair.Value.OrderId</td>
            <td>@pair.Value.OrderStatus</td>
            <td>@pair.Value.ReadyForPickupTime</td>
            <td>@pair.Key.RecieverName</td>

            <td>
                @using (Ajax.BeginForm("ShowOrderDetails", "Manage", new
                {
                    orderId = pair.Value.OrderId,
                    packageId = pair.Key.PackageId
                }, new AjaxOptions
                {
                    UpdateTargetId = "orderModal",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",


                }, new { @class = "form-horizontal", role = "form" }))
                {
                    <button type="submit" class="btn btn-danger j"><b>Details</b></button>

                }

                @if(pair.Value.OrderStatus != Status.Completed)
                {
                    using (Ajax.BeginForm("ShowOrderEdit", "Manage", new
                    {
                        orderId = pair.Value.OrderId,
                        packageId = pair.Key.PackageId
                    }, new AjaxOptions
                    {
                        UpdateTargetId = "orderModal",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET",


                    }, new { @class = "form-horizontal", role = "form" }))
                    {
                    <button type="submit" class="btn btn-danger j"><b>Edit</b></button>

                }
                }
            </td>
        </tr>
    }



</table>

