@using PackageDelivery.Areas.Admin.Controllers
@using PackageDelivery.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@model PackageDelivery.Models.OrderDetailsViewModel

@{
    var vueIdd = Model.Order.OrderId + 'b';
    var modalIdd = Model.Order.OrderId + 'a';
    var formId = vueIdd + modalIdd;
}

<div id="app">



    <modal :show.sync="showModal">
        <h3 slot="header">Edit Order</h3>
        <h5 slot="body">
            @using (Ajax.BeginForm("EditOrder", "Manage", new { orderId = Model.Order.OrderId, packageId = Model.Package.PackageId }, new AjaxOptions
            {

                UpdateTargetId = "update",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",

            }, new { @class = "form-horizontal", role = "form", id = formId }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true)

                    <h4>Delivery adress:</h4>
                    <div class="form-group">
                        
                        @Html.LabelFor(model => model.Deliveradress.StreetAdress, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Deliveradress.StreetAdress, new {@class = "form-control", type = ""})
                            @Html.ValidationMessageFor(model => model.Deliveradress.StreetAdress)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Deliveradress.PostCode, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Deliveradress.PostCode, new { @class = "form-control", type = "" })
                            @Html.ValidationMessageFor(model => model.Deliveradress.PostCode)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Deliveradress.Suburb, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Deliveradress.Suburb, new { @class = "form-control", type = "" })
                            @Html.ValidationMessageFor(model => model.Deliveradress.Suburb)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Deliveradress.State, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Deliveradress.State, new { @class = "form-control", type = "" })
                            @Html.ValidationMessageFor(model => model.Deliveradress.State)
                        </div>
                    </div>
                    <hr/>
                    <h4>Pickup adress</h4>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Pickupadress.StreetAdress, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Pickupadress.StreetAdress, new { @class = "form-control", type = "" })
                            @Html.ValidationMessageFor(model => model.Pickupadress.StreetAdress)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Pickupadress.PostCode, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Pickupadress.PostCode, new { @class = "form-control", type = "" })
                            @Html.ValidationMessageFor(model => model.Pickupadress.PostCode)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Pickupadress.Suburb, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Pickupadress.Suburb, new { @class = "form-control", type = "" })
                            @Html.ValidationMessageFor(model => model.Pickupadress.Suburb)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Pickupadress.State, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Pickupadress.State, new { @class = "form-control", type = "" })
                            @Html.ValidationMessageFor(model => model.Pickupadress.State)
                        </div>
                    </div>
                    <hr />
                    <h4>Order info</h4>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Order.ReadyForPickupTime, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="datetime-local" name="order.ReadyForPickupTIme" value="@ViewBag.date" class="form-control">
                            @Html.ValidationMessageFor(model => model.Order.ReadyForPickupTime)
                        </div>
                    </div>
                    <hr />
                    <h4>Package info</h4>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Package.SpecialInstructions, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(m => m.Package.SpecialInstructions, new { @class = "form-control", style = "height: 100px;" })
                            @Html.ValidationMessageFor(model => model.Package.SpecialInstructions)
                        </div>
                    </div>
                </div>

            }
        </h5>
    </modal>
</div>

<script type="x/template" id="@modalIdd">
    <div class="modal-mask" v-on:click="close" v-show="show" transition="modal">
        <div class="modal-wrapper">
            <div class="modal-container" style="width:650px;" v-on:click.stop>

                <div class="modal-header">
                    <slot name="header">
                        <h3>Edit order @Model.Order.OrderId </h3>
                    </slot>
                </div>

                <div class="modal-body">
                    <slot name="body">

                    </slot>

                </div>

                <div class="modal-footer">
                    <slot name="footer">
                        <button class="modal-default-button btn-danger btn" id="knapp" v-on:click="closeButton">
                            Save
                        </button>
                    </slot>
                </div>
            </div>
        </div>
    </div>
</script>

<script>

    Vue.component('modal', {
        template: '#@modalIdd',
        props: {
            show: {
                type: Boolean,
                required: true,
                twoWay: true

            }
        },
        methods: {
            close: function() {
                this.show = false;
            },
            closeButton: function() {
                    $("form#@formId").submit();
                    this.show = false;

            }
        },
        ready: function() {
            this.show = true;
            document.addEventListener("keydown", (e) => {
                if (this.show && e.keyCode == 27) {
                    this.close();
                } else if (this.show && e.keyCode == 13) {
                    this.closeButton();
                }
            });
        }
    });

        new Vue({
            el: '#app',
            data: {
                showModal: false,
            },
            methods: {
                showModalf: function() {
                    this.showModal = true;
                },

            }

        });

</script>
