@model PackageDelivery.Models.ChangeProfileIdexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
        @* the change password button with an error catching case structure to*@
            [
            @if (Model.IndexViewModel.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
         @* displaying information *@
        <dt>Street Adress:</dt>
        <dd>@Model.ChangeProfileViewModel.StreetAdress</dd>
        <dt>Postcode:</dt>
        <dd>@Model.ChangeProfileViewModel.PostCode</dd>
        <dt>Suburb:</dt>
        <dd>@Model.ChangeProfileViewModel.Suburb</dd>
        <dt>State:</dt>
        <dd>@Model.ChangeProfileViewModel.State</dd>
        <dt>Phone:</dt>
        <dd>@Model.ChangeProfileViewModel.Phone</dd>
        <div class="row">
            <br/>
            <div class="col-md-10">
                @* here we have it! the extra buttons, I'll throw in the if then structure here to take you to admin if you are an admin authorized*@
                <dt><h4>@Html.ActionLink("Change Profile Info", "ChangeProfileInfo")</h4></dt>
                <dt><h4>@Html.ActionLink("View your orders", "MyOrders")</h4></dt>

                @*
                @if ((@Model.ChangeProfileViewModel.Role == "Owner")||(@Model.ChangeProfileViewModel.Role == "Admin"))
                {

                    <dt><h4><a href="@Url.Action("Index", "Home", new {area = "Admin"})">Admin Area</h4></dt>
                }  *@  
</div>
            <div class="col-md-2">

            </div>
        </div>
    </dl>
</div>
