@using System.Web.Mvc.Html
@using System.Web.UI.WebControls.Expressions
@using PackageDelivery.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using System.Web.Mvc.Ajax
@using PackageDelivery.Areas.Admin.Models
@using PackageDelivery.Areas.Admin.Controllers
@using PackageDelivery.Controllers
@model SearchUserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Users";
    ViewBag.Messsage = " Show only active users";
    var RegisterViewModel = new RegisterViewModel
    {
        param = Model.SearchModel.search
    };
    var test = "k";
    ViewBag.Search = Model.SearchModel.search;

}


<h2>@ViewBag.Title</h2>
@*Search box*@
<div class="row">
    <div class="col-lg-3">
        <form method="get">
            <div class="input-group">
                <input type="text" name="search" value="@Model.SearchModel.search" placeholder="Search users..." class="form-control">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Search">
                </span>
            </div>
        </form>
    </div>
</div>

@using (Ajax.BeginForm("Index", "HRManagement", new { param = Model.SearchModel.search, k = "true" }, new AjaxOptions
{

    UpdateTargetId = "update",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"
}
               , new { id = "AjaxForm" }))
{

}
@using (Ajax.BeginForm("Index", "HRManagement", new { param = Model.SearchModel.search, k = "false" }, new AjaxOptions
{

    UpdateTargetId = "update",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"

}
                           , new { id = "k" }))
{

}

<script>
    $(document).ready(function() {

        $('#checkbox1').prop('checked', true);
        $('#checkbox1').change(function() {
            if ($(this).is(":checked")) {

                $("form#AjaxForm").submit();
            } else {
                $("form#k").submit();
            }
        });
    });
</script>
<div id="regModal"></div>
<br/>
@using (Ajax.BeginForm("showEmployeeCreate", "HRManagement", new { param = Model.SearchModel.search }, new AjaxOptions
{
    UpdateTargetId = "regModal",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET",

}, new { @class = "form-horizontal", role = "form" }))
{

    <button id="show-modal" type="submit" class="btn btn-primary j"><b>Create employee</b></button>
}
<br /><br />
<div class="col-md-8"></div>
<div class="col-md-4">
    @*Error and success message fields*@
    @if (ViewBag.StatusMessage != null && ViewBag.StatusMessage == ManageController.ManageMessageId.Error.ToString())
    {
        <p class="text-warning">@ViewBag.StatusMessage</p>
    }
    else
    {
        <p class="text-success">@ViewBag.StatusMessage</p>
    }

    @if (!Model.ApplicationUsers.Any())
    {
        <p>No results for the search "@Model.SearchModel.search"</p>
        return;
    }
</div>
@{
    var PartialModel = new ShowModel
    {
        userss = Model.ApplicationUsers,
        check = "true",
        search = Model.SearchModel.search
    };

}
<input type="checkbox" id="checkbox1">@ViewBag.Messsage
<div id="update">
    @Html.Partial("_ShowUsersPartial", PartialModel)        @*The entire user list load in as a partial view*@
</div>

